language: cpp

sudo: required
dist: trusty

matrix:
  include:
    - os: linux
      compiler: gcc
      before_install:
        - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        - sudo apt-get -q update
      install:
        - sudo apt-get -y install g++-5
        - sudo apt-get -y install libboost-all-dev
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_CXX_COMPILER=g++-5 .. && make && ./runTests
    - os: osx
      osx_image: xcode7.3
      script:
        - mkdir build
        - cd build
        - cmake .. && make && ./runTests