* text=auto

# sources
*.h text diff=cpp
*.c text diff=cpp
*.cpp text diff=cpp
*.rb text diff=ruby
*.html text diff=html
*.m text diff=objc

# shell scripts
*.sh eol=lf

# GNU Makefile
Makefile text eol=lf

# Autotools
*.am text eol=lf

# Android
*.mk text eol=lf

# Xcode files
*.pbxproj text eol=lf merge=union

# Visual Studio files
*.sln text eol=crlf merge=union
*.vcxproj text eol=crlf merge=union
*.vcxproj.filters text eol=crlf merge=union
*.props text eol=crlf
