# Excluding 80MB worth of voice information
/flite-*/lang/cmu_time_awb
/flite-*/lang/cmu_us_awb
/flite-*/lang/cmu_us_kal
/flite-*/lang/cmu_us_kal16
/flite-*/lang/cmu_us_rms
/flite-*/lang/cmu_us_slt

# Excluding 45MB of superfluous data
/webrtc-*/webrtc/modules
/webrtc-*/data
