*.tar.gz
*.exe
*.dll
*.do
*.o
*.so*
*.a
*.dll
*.dylib
*.dSYM
*.out
*.new
data/*.txt
data/*.ttf
data/*.sfd
/docs/
bench/bench
bench/icu
bench/unistring
test/normtest
test/graphemetest
test/printproperty
test/charwidth
test/misc
test/valid
test/iterate
test/case
test/custom
/tmp/
